<a href="https://colab.research.google.com/github/jarevaloa/the-quick-python-book-fourth-edition/blob/main/the_quick_python_book_fourth_edition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###3.2.2 List

In [4]:
[]
[1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, "two", 3, 4.0, ["a", "b"], (5, 6)]

[1, 'two', 3, 4.0, ['a', 'b'], (5, 6)]

In [6]:
x = ["first", "second", "third", "fourth"]
x[0]

'first'

In [7]:
x[2]

'third'

In [8]:
x[-1]

'fourth'

In [9]:
x[-2]

'third'

In [10]:
x[1:-1]

['second', 'third']

In [11]:
x[0:3]

['first', 'second', 'third']

In [12]:
x[-2:-1]

['third']

In [13]:
x[:3]

['first', 'second', 'third']

In [14]:
x[-2:]

['third', 'fourth']

In [15]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
x[1] = "two"

In [27]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
x[1] = "two"

print(x) # [1, 'two', 3, 4, 5, 6, 7, 8, 9]
x[8:9] = []
print(x) #[1, 'two', 3, 4, 5, 6, 7, 8]
x[5:7] = [6.0, 6.5, 7.0]
print(x) #[1, 'two', 3, 4, 5, 6.0, 6.5, 7.0, 8]

x[5:]

[1, 'two', 3, 4, 5, 6, 7, 8, 9]
[1, 'two', 3, 4, 5, 6, 7, 8]
[1, 'two', 3, 4, 5, 6.0, 6.5, 7.0, 8]

[6.0, 6.5, 7.0, 8]

In [29]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(len(x)) #9

y = [-1, 0] + x #[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(y)
x.reverse()
x

9
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### 3.2.3 Tuplas

In [30]:
()
(1,)
(1, 2, 3, 4, 5, 6, 7, 8, 12)
(1, "two", 3, 4.0, ["a", "b"], (5, 6))

(1, 'two', 3, 4.0, ['a', 'b'], (5, 6))

In [32]:
x = [1, 2, 3, 4]
tuple(x)

(1, 2, 3, 4)

In [33]:
x = (1, 2, 3, 4)
list(x)

[1, 2, 3, 4]

### 3.2.4 Cadenas

In [1]:
"A string in double quotes can contain 'single quote' characters."
'A string in single quotes can contain "double quote" characters.'
'''\tA string which starts with a tab; ends with a newline character.\n'''
"""This is a triple double quoted string - triple quoted strings (single
   or double quoted) are only kind that can contain real newlines."""

'This is a triple double quoted string - triple quoted strings (single \n   or double quoted) are only kind that can contain real newlines.'

In [13]:
x = "live and     let \t   \tlive"
print(x.split())
print(x)
print(type(x))


replaced = x.replace("    let \t   \tlive", "enjoy life")
print(replaced)


import re
regexpr = re.compile(r"[\t ]+")
regexpr.sub(" ", x)

['live', 'and', 'let', 'live']
live and     let 	   	live
<class 'str'>
live and     let 	   	live

'live and let live'

In [14]:
e = 2.718
x = [1, "two", 3, 4.0, ["a", "b"], (5, 6)]
print("The constant e is:", e, "and the list x is:", x)

print(f"the value of e is: {e}")

The constant e is: 2.718 and the list x is: [1, 'two', 3, 4.0, ['a', 'b'], (5, 6)]
the value of e is: 2.718

# 3.2.5 Diccionarios

In [24]:
x = {1: "one", 2: "two"}
x["first"] = "one"
x[("Delorme", "Ryan", 1995)] = (1, 2, 3)
keys  = list(x.keys())
print(keys)
print(len(x))

x[1]


print(x.get(1, "not available"))

x.get(4, "not available")
x.get(3, "not available")

[1, 2, 'first', ('Delorme', 'Ryan', 1995)]
4
one

'not available'

# 3.2.6 Sets, frozensets

In [27]:
x = set([1, 2, 3, 1, 3, 5])
print(x)

print(1 in x)
4 in x

{1, 2, 3, 5}
True

False

# 3.2.7 File objects

In [28]:
f = open("myfile", "w")
f.write("First line with necessary newline character\n")
f.write("Second line to write to the file\n")

f.close()
f = open("myfile", "r")
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1, line2)


import os
directory = os.getcwd()
print(directory)



filename = os.path.join(directory, "myfile")
print(filename)

f = open(filename, "r")
print(f.readline())


f.close()

First line with necessary newline character
 Second line to write to the file

/content
/content/myfile
First line with necessary newline character

# 3.4.2 The if-elif-else statement

In [29]:
x = 5
if x < 5:
    y = -1
    z = 5
elif x > 5:
    y = 1
    z = 11
else:
    y = 0
    z = 10
print(x, y, z)

5 0 10

# 3.4.3 Structural pattern matching with match

In [33]:
# point is an (x, y) tuple
point = (0,10)
match point:
 case (0, 0):
  print("Origin")
 case (0, y):
  print(f"Y={y}")
 case (x, 0):
  print(f"X={x}")
 case (x, y):
  print(f"X={x}, Y={y}")
 case _:
  raise ValueError("Not a point")

Y=10

# 3.4.4 The while loop

In [34]:
u, v, x, y = 0, 0, 100, 30
while x > y:
    u = u + y
    x = x - y
    if x < y + 2:
        v = v + x
        x = 0
    else:
        v = v + y + 2
        x = x - y - 2
print(u, v)

60 40