<a href="https://colab.research.google.com/github/jarevaloa/the-quick-python-book-fourth-edition/blob/main/the_quick_python_book_fourth_edition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###3.2.2 List

In [ ]:
[]
[1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, "two", 3, 4.0, ["a", "b"], (5, 6)]

[1, 'two', 3, 4.0, ['a', 'b'], (5, 6)]

In [ ]:
x = ["first", "second", "third", "fourth"]
x[0]

'first'

In [ ]:
x[2]

'third'

In [ ]:
x[-1]

'fourth'

In [ ]:
x[-2]

'third'

In [ ]:
x[1:-1]

['second', 'third']

In [ ]:
x[0:3]

['first', 'second', 'third']

In [ ]:
x[-2:-1]

['third']

In [ ]:
x[:3]

['first', 'second', 'third']

In [ ]:
x[-2:]

['third', 'fourth']

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
x[1] = "two"

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
x[1] = "two"

print(x) # [1, 'two', 3, 4, 5, 6, 7, 8, 9]
x[8:9] = []
print(x) #[1, 'two', 3, 4, 5, 6, 7, 8]
x[5:7] = [6.0, 6.5, 7.0]
print(x) #[1, 'two', 3, 4, 5, 6.0, 6.5, 7.0, 8]

x[5:]

[1, 'two', 3, 4, 5, 6, 7, 8, 9]
[1, 'two', 3, 4, 5, 6, 7, 8]
[1, 'two', 3, 4, 5, 6.0, 6.5, 7.0, 8]

[6.0, 6.5, 7.0, 8]

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(len(x)) #9

y = [-1, 0] + x #[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(y)
x.reverse()
x

9
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### 3.2.3 Tuplas

In [ ]:
()
(1,)
(1, 2, 3, 4, 5, 6, 7, 8, 12)
(1, "two", 3, 4.0, ["a", "b"], (5, 6))

(1, 'two', 3, 4.0, ['a', 'b'], (5, 6))

In [ ]:
x = [1, 2, 3, 4]
tuple(x)

(1, 2, 3, 4)

In [ ]:
x = (1, 2, 3, 4)
list(x)

[1, 2, 3, 4]

### 3.2.4 Cadenas

In [ ]:
"A string in double quotes can contain 'single quote' characters."
'A string in single quotes can contain "double quote" characters.'
'''\tA string which starts with a tab; ends with a newline character.\n'''
"""This is a triple double quoted string - triple quoted strings (single
   or double quoted) are only kind that can contain real newlines."""

'This is a triple double quoted string - triple quoted strings (single \n   or double quoted) are only kind that can contain real newlines.'

In [ ]:
x = "live and     let \t   \tlive"
print(x.split())
print(x)
print(type(x))


replaced = x.replace("    let \t   \tlive", "enjoy life")
print(replaced)


import re
regexpr = re.compile(r"[\t ]+")
regexpr.sub(" ", x)

['live', 'and', 'let', 'live']
live and     let 	   	live
<class 'str'>
live and     let 	   	live

'live and let live'

In [ ]:
e = 2.718
x = [1, "two", 3, 4.0, ["a", "b"], (5, 6)]
print("The constant e is:", e, "and the list x is:", x)

print(f"the value of e is: {e}")

The constant e is: 2.718 and the list x is: [1, 'two', 3, 4.0, ['a', 'b'], (5, 6)]
the value of e is: 2.718

# 3.2.5 Diccionarios

In [ ]:
x = {1: "one", 2: "two"}
x["first"] = "one"
x[("Delorme", "Ryan", 1995)] = (1, 2, 3)
keys  = list(x.keys())
print(keys)
print(len(x))

x[1]


print(x.get(1, "not available"))

x.get(4, "not available")
x.get(3, "not available")

[1, 2, 'first', ('Delorme', 'Ryan', 1995)]
4
one

'not available'

# 3.2.6 Sets, frozensets

In [ ]:
x = set([1, 2, 3, 1, 3, 5])
print(x)

print(1 in x)
4 in x

{1, 2, 3, 5}
True

False

# 3.2.7 File objects

In [ ]:
f = open("myfile", "w")
f.write("First line with necessary newline character\n")
f.write("Second line to write to the file\n")

f.close()
f = open("myfile", "r")
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1, line2)


import os
directory = os.getcwd()
print(directory)



filename = os.path.join(directory, "myfile")
print(filename)

f = open(filename, "r")
print(f.readline())


f.close()

First line with necessary newline character
 Second line to write to the file

/content
/content/myfile
First line with necessary newline character

# 3.4.2 The if-elif-else statement

In [ ]:
x = 5
if x < 5:
    y = -1
    z = 5
elif x > 5:
    y = 1
    z = 11
else:
    y = 0
    z = 10
print(x, y, z)

5 0 10

# 3.4.3 Structural pattern matching with match

In [ ]:
# point is an (x, y) tuple
point = (0,10)
match point:
 case (0, 0):
  print("Origin")
 case (0, y):
  print(f"Y={y}")
 case (x, 0):
  print(f"X={x}")
 case (x, y):
  print(f"X={x}, Y={y}")
 case _:
  raise ValueError("Not a point")

Y=10

# 3.4.4 The while loop

El `while` bucle se ejecuta mientras la condición (que aquí es `x > y`) sea `True`

In [ ]:
u, v, x, y = 0, 0, 100, 30
while x > y:
    u = u + y
    x = x - y
    if x < y + 2:
        v = v + x
        x = 0
    else:
        v = v + y + 2
        x = x - y - 2
print(u, v)

60 40

# 3.4.5 The for loop

In [ ]:
item_list = [3, "string1", 23, 14.0, "string2", 49, 64, 70]
for x in item_list:
    if not isinstance(x, int):
        continue
    if not x % 7:
        print(f"found an integer divisible by seven: {x}")
        break

found an integer divisible by seven: 49

# 3.4.6 Function definition

In [ ]:
def funct1(x, y, z):
    value = x + 2*y + z**2
    if value > 0:
        return x + 2*y + z**2
    else:
        return 0

u, v = 3, 4
funct1(u, v, 2)



funct1(u, z=v, y=2)



def funct2(x, y=1, z=1):
  return x + 2 * y + z ** 2

funct2(3, z=4)



def funct3(x, y=1, z=1, *tup):
  print((x, y, z) + tup)

funct3(2)



funct3(1, 2, 3, 4, 5, 6, 7, 8, 9)



def funct4(x, y=1, z=1, **kwargs):
  print(x, y, z, kwargs)
funct4(1, 2, m=5, n=9, z=3)

15
(2, 1, 1)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
1 2 3 {'m': 5, 'n': 9}

# 3.4.7 Exceptions

In [ ]:
class EmptyFileError(Exception):
    pass
with open("empty_file","w") as file_empty:
  print(f"create file empty")
filenames = ["myfile","myfile1.txt", "non_existent", "empty_file", "myfile2.txt"]
for file in filenames:
    try:
        f = open(file, 'r')
        line = f.readline()
        if line == "":
            f.close()
            raise EmptyFileError(f"{file}: is empty")
    except IOError as error:
        print(f"{file}: could not be opened: {error.strerror}")
    except EmptyFileError as error:
        print(error)
    else:
        print(f"{file}: {line}")
    finally:
        print("Done processing", file)

create file empty
myfile: could not be opened: No such file or directory
Done processing myfile
myfile1.txt: could not be opened: No such file or directory
Done processing myfile1.txt
non_existent: could not be opened: No such file or directory
Done processing non_existent
empty_file: is empty
Done processing empty_file
myfile2.txt: could not be opened: No such file or directory
Done processing myfile2.txt

# 3.4.8 Context handling using the with keyword

In [ ]:
filename = "myfile1.txt"
with open(filename, "r") as f:
    for line in f:
        print(line)

FileNotFoundError: [Errno 2] No such file or directory: 'myfile1.txt'

 Ese código es equivalente a este código:

In [ ]:
filename = "myfile1.txt"
try:
    f = open(filename, "r")
    for line in f:
        print(line)
except Exception as e:
    raise e
finally:
    f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'myfile1.txt'

In [ ]:
"""wo module. Contains function: words_occur()"""
# interface functions
def words_occur():
    """words_occur() - count the occurrences of words in a file."""
    # Prompt user for the name of the file to use.
    file_name = input("Enter the name of the file: ")
    # Open the file, read it and store its words in a list.
    f = open(file_name, 'r')
    word_list = f.read().split()
    f.close()
    # Count the number of occurrences of each word in the file.
    occurs_dict = {}
    for word in word_list:
        # increment the occurrences count for this word
        occurs_dict[word] = occurs_dict.get(word, 0) + 1
    # Print out the results.
    print(f"File {file_name} has {len(word_list)} words ({len(occurs_dict)} are unique)")
    print(occurs_dict)
if __name__ == '__main__':
    words_occur()

Enter the name of the file: myfile
File myfile has 13 words (11 are unique)
{'First': 1, 'line': 2, 'with': 1, 'necessary': 1, 'newline': 1, 'character': 1, 'Second': 1, 'to': 2, 'write': 1, 'the': 1, 'file': 1}

In [ ]:
"""shape module. Contains classes Shape, Square and Circle"""
class Shape:
    """Shape class: has method move"""
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def move(self, deltaX, deltaY):
        self.x = self.x + deltaX
        self.y = self.y + deltaY
class Square(Shape):
    """Square Class:inherits from Shape"""
    def __init__(self, side=1, x=0, y=0):
        Shape.__init__(self, x, y)
        self.side = side
class Circle(Shape):
    """Circle Class: inherits from Shape and has method area"""
    PI = 3.14159
    def __init__(self, r=1, x=0, y=0):
        Shape.__init__(self, x, y)
        self.radius = r
    def area(self):
        """Circle area method: returns the area of the circle."""
        return self.radius * self.radius * self.PI
    def __str__(self):
        return f"Circle of radius {self.radius} at ({self.x}, {self.y})"

In [ ]:
c1 = Circle()
c2 = Circle(5, 15, 20)
print(c1)

print(c2)

c2.area()

c2.move(5,6)
print(c2)

Circle of radius 1 at (0, 0)
Circle of radius 5 at (15, 20)
Circle of radius 5 at (20, 26)

In [ ]:
# This is Python code.
n = 9
r = 1
while n > 0:
    r = r * n
    n = n - 1
print(r)

362880

# 4.3 Variables and assignments

In [ ]:
a = [1, 2, 3]
b = a
c = b
c[1] = 5
print(a, b, c)

[1, 5, 3] [1, 5, 3] [1, 5, 3]

In [ ]:
a = 1
b = a
c = b
b = 5
print(a, b, c)

1 5 1

In [ ]:
x = "Hello"
print(x)

x = 5
print(x)

Hello
5

In [ ]:
x = 5
print(x)

5

del x
print(x)

5

NameError: name 'x' is not defined

# 4.4 Optional type hints in Python

In [ ]:
# agreguemos esto a un file test_add.py
def add_ints(x: int, y: int) -> int:
     return x + y

p: int = 2.3
print(p)
z = add_ints(1, 2)
w = add_ints(1.5, 2.5)
w

2.3

4.0


> *La notación de sugerencias de tipo se puede leer con herramientas de verificación de tipo como **mypy, pyright, pyre o pytype**, así como con varios IDE comunes, para señalar el uso de un tipo incompatible o inesperado. Si bien estas herramientas pueden informar el error, Python en sí no generará un error de tiempo de ejecución si no se siguen las sugerencias de tipo.*

In [ ]:
!pip install mypy

Collecting mypy
  Downloading mypy-1.11.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl.metadata (1.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from mypy) (4.12.2)
Collecting mypy-extensions>=1.0.0 (from mypy)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: tomli>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from mypy) (2.0.1)
Downloading mypy-1.11.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl (12.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.5/12.5 MB 69.3 MB/s eta 0:00:00
Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Installing collected packages: mypy-extensions, mypy
Successfully installed mypy-1.11.1 mypy-extensions-1.0.0

In [ ]:
! mypy test_add.py

test_add.py:4: error: Incompatible types in assignment (expression has type "float", variable has type "int")  [assignment]
test_add.py:7: error: Argument 1 to "add_ints" has incompatible type "float"; expected "int"  [arg-type]
test_add.py:7: error: Argument 2 to "add_ints" has incompatible type "float"; expected "int"  [arg-type]
Found 3 errors in 1 file (checked 1 source file)

# 4.4.1 ¿Por qué utilizar sugerencias de tipos?



> Una de las razones por las que se utilizan cada vez más las sugerencias de tipo es que ayudan a reducir la confusión sobre qué tipo se espera en muchas situaciones. En una base de código grande, puede resultar especialmente frustrante buscar un error en el que se devuelva un tipo de objeto inesperado. Las sugerencias de tipo permiten detectar y solucionar muchas de estas situaciones antes del tiempo de ejecución. La información de tipo también permite que muchos editores e IDE adviertan sobre estos errores y sugieran alternativas adecuadas durante el proceso de codificación

# 4.4.2 ¿Por qué no utilizar sugerencias de tipos?

* En scripts más pequeños e informales puede que no valga la pena dedicar
tiempo y esfuerzo extra para agregar sugerencias de tipo.

* Intentar escribir de forma completa y explícita todo lo que aparece en un programa puede hacer que las definiciones de funciones o métodos sean más difíciles de leer. En ese caso, se debe tomar una decisión sobre el equilibrio entre la legibilidad humana y la integridad de la escritura.

* Tenga cuidado de no adentrarse demasiado en el mundo de las sugerencias de tipos. Pasar demasiado tiempo obsesionado con sugerencias de tipos detalladas puede no ser productivo.

* Volver atrás y cambiar el código funcional únicamente para agregar sugerencias de tipo tampoco es la mejor manera de invertir el tiempo. Por lo general, es más prudente dejar el código funcional tal como está, a menos que tenga una buena razón para cambiarlo. Agregar sugerencias de tipo se puede hacer en el transcurso de otro mantenimiento o refactorización.

# 4.5 Expressions

In [ ]:
x = 3
y = 5
z = (x + y) / 2

# 4.6 Strings

In [ ]:
x = "Hello, World"
x

'Hello, World'

In [ ]:
x = "\tThis string starts with a \"tab\"."
print(x)
x = "This string contains a single backslash(\\)."
x

	This string starts with a "tab".

'This string contains a single backslash(\\).'

In [ ]:
x = "Hello, World"
x = 'Hello, World'

In [ ]:
# This Python code will cause an ERROR -- you can't
# split the string across two lines.
x = "This is a misguided attempt to
put a newline into a string without using backslash-n"

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-32-105495cf7241>, line 3)



> Pero Python ofrece cadenas entre comillas triples, que le permiten tener cadenas de varias líneas e incluir comillas simples y dobles sin barras invertidas:

In [ ]:
x = """Starting and ending a string with triple " or ' characters
permits embedded newlines, and the use of " and ' without
backslashes"""
print(x)

Starting and ending a string with triple " or ' characters
permits embedded newlines, and the use of " and ' without
backslashes

# 4.7 Numbers

In [ ]:
x = 5 + 2 - 3 * 2
print(x)
print(type(x))

x = 5 / 2 # floating-point result with normal division
print(x)
print(type(x))

x = 2.5
print(x)
print(type(x))

x = 5 / 2.0 # also a floating-point result
print(x)
print(type(x))


x = 2.5
print(x)
print(type(x))

x = 5 // 2 # integer result with truncation when divided using '//'
print(x)
print(type(x))


x = 30000000000 # This would be too large to be an int in many languages
print(x)
print(type(x))


x = 30000000000 * 3
print(x)
print(type(x))


x = 30000000000 * 3.0
print(x)
print(type(x))


x = 2.0e-8 # Scientific notation gives back a float
print(x)
print(type(x))


x = 3000000 * 3000000
print(x)
print(type(x))


x = int(200.2)
print(x)
print(type(x))



x = int(2e2)
print(x)
print(type(x))


float(200)

1
<class 'int'>
2.5
<class 'float'>
2.5
<class 'float'>
2.5
<class 'float'>
2.5
<class 'float'>
2
<class 'int'>
30000000000
<class 'int'>
90000000000
<class 'int'>
90000000000.0
<class 'float'>
2e-08
<class 'float'>
9000000000000
<class 'int'>
200
<class 'int'>
200
<class 'int'>

200.0

# 4.7.1 Built-in numeric functions

In [ ]:
abs, divmod, float, hex, int, max, min, oct,
pow, round

(<function pow(base, exp, mod=None)>, <function round(number, ndigits=None)>)

In [ ]:
abs(-10)

10

In [ ]:
help(divmod)
mod = divmod(11,2)
print(mod)
print(type(mod))

Help on built-in function divmod in module builtins:

divmod(x, y, /)
    Return the tuple (x//y, x%y).  Invariant: div*y + mod == x.

(5, 1)
<class 'tuple'>

In [ ]:
x = float(10)
print(x)
print(type(x))

10.0
<class 'float'>

In [ ]:
hex(11)

'0xb'

In [ ]:
int(10.6)

10

In [ ]:
max(5, 10, 6)

10

In [ ]:
min(5, 10, 6)

5

In [ ]:
oct(10)

'0o12'

In [ ]:
help(pow)
pow(2,3)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

8

In [ ]:
x = round(10.6)
print(x)
print(type(x))
round(10.2)

11
<class 'int'>

10

# 4.7.2 Advanced numeric functions

In [ ]:
from math import *

In [ ]:
acos, asin, atan, atan2, ceil, cos, cosh, e, exp, fabs, floor, fmod,
frexp, hypot, ldexp, log, log10, mod, pi, pow, sin, sinh, sqrt, tan,
tanh

In [ ]:
help(acos)
acos(0.5)

Help on built-in function acos in module math:

acos(x, /)
    Return the arc cosine (measured in radians) of x.

    The result is between 0 and pi.

1.0471975511965979

# 4.9 Getting input from the user

In [ ]:
name = input("Name? ")

print(name)

age = int(input("Age? "))

print(age)

Name? Jorge
Jorge
Age? 41
41

# 5 Lists, tuples, and sets

##  5.1 Lists are like arrays

In [ ]:
# This assigns a three-element list to x
x = [1, 2, 3]
x

[1, 2, 3]

In [ ]:
# First element is a number, second is a string, third is another list.
x = [2, "two", [1, 2, 3]]
x

[2, 'two', [1, 2, 3]]

In [ ]:
x = [2, "two", [1, 2, 3]]
len(x)

3

## 5.2 List indices

In [ ]:
x = ["primero", "segundo", "tercero", "cuarto"]
print(x[0])
x[2]

primero

'tercero'

In [ ]:
a = x[-1]
print(a)
x[-2]

cuarto

'tercero'

![image.png]()

In [ ]:
x = ["first", "second", "third", "fourth"]
print(x[1:-1])

print(x[0:3])

print(x[-2:-1])

['second', 'third']
['first', 'second', 'third']
['third']

In [ ]:
x[-1:2]

[]

In [ ]:
x[:3]

['first', 'second', 'third']

In [ ]:
x[2:]

['third', 'fourth']

In [ ]:
# si se omiten los dos indices se genera una nueva lista, desde el inicio hasta
# el final, esta tecnica es util si se desea crear una copia de la lista sin
# afectar la original
y = x[:]
y[0] = '1 st'
y

['1 st', 'second', 'third', 'fourth']

In [ ]:
x

['first', 'second', 'third', 'fourth']


> Con lo que sabes sobre las `len()` funciones y los fragmentos de lista, ¿cómo combinarías ambos para obtener la segunda mitad de una lista cuando no sabes qué tamaño tiene? Experimenta en el shell de Python para confirmar que tu solución funciona.

In [ ]:
z = x[len(x)//2:]
z

['third', 'fourth']

## 5.3 Modifying lists

In [ ]:
x = [1, 2, 3, 4]
x[1] = "two"
x

[1, 'two', 3, 4]

In [ ]:
x = [1, 2, 3, 4]
x[len(x):] = [5, 6, 7]
print(x)

[1, 2, 3, 4, 5, 6, 7]

x[:0] = [-1, 0]
print(x)

x[1:-1] = []
print(x)

[1, 2, 3, 4, 5, 6, 7]
[-1, 0, 1, 2, 3, 4, 5, 6, 7]
[-1, 7]

In [ ]:
x = [1, 2, 3]
x.append("four")
x

[1, 2, 3, 'four']

In [ ]:
x = [1, 2, 3, 4]
y = [5, 6, 7]
x.append(y)
x

[1, 2, 3, 4, [5, 6, 7]]

In [ ]:
x = [1, 2, 3, 4]
y = [5, 6, 7]
x.extend(y)
x

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
x = [1, 2, 3]
x.insert(2, "hello")
print(x)

x.insert(0, "start")
print(x)

[1, 2, 'hello', 3]
['start', 1, 2, 'hello', 3]

In [ ]:
x = [1, 2, 3]
x.insert(-1, "hello")
print(x)

[1, 2, 'hello', 3]

In [ ]:
x = ['a', 2, 'c', 7, 9, 11]
del x[1]
print(x)

del x[:2]
print(x)

['a', 'c', 7, 9, 11]
[7, 9, 11]

In [ ]:
x = [1, 2, 3, 4, 3, 5]
x.remove(3)
print(x)

x.remove(3)
print(x)


x.remove(3)

[1, 2, 4, 3, 5]
[1, 2, 4, 5]

ValueError: list.remove(x): x not in list

In [1]:
x = [1, 3, 5, 6, 7]
x.reverse()
x

[7, 6, 5, 3, 1]



> Supongamos que tienes una lista de 10 elementos. ¿Cómo podrías mover los últimos tres elementos del final de la lista al principio, manteniendo el mismo orden?

In [18]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x[:]= x[-3:] + x[0:7]
x

[8, 9, 10, 1, 2, 3, 4, 5, 6, 7]

## 5.4 Sorting lists

In [19]:
x = [3, 8, 4, 0, 2, 1]
x.sort()
x

[0, 1, 2, 3, 4, 8]

In [20]:
x = [2, 4, 1, 3]
y = x[:]
y.sort()
print(y)

print(x)

[1, 2, 3, 4]
[2, 4, 1, 3]

In [21]:
x = ["Life", "Is", "Enchanting"]
x.sort()
x

['Enchanting', 'Is', 'Life']

In [22]:
x = [1, 2, 'hello', 3]
x.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [23]:
x = [[3, 5], [2, 9], [2, 3], [4, 1], [3, 2]]
x.sort()
x

[[2, 3], [2, 9], [3, 2], [3, 5], [4, 1]]

In [28]:
x = [[3, 5, 1], [2, 3, 1], [2, 3, 4], [4, 1], [3, 2]]
x.sort()
x

[[2, 3, 1], [2, 3, 4], [3, 2], [3, 5, 1], [4, 1]]

### 5.4.1 Custom sorting

In [30]:
# ordenamiento lexicografico
word_list = ['Python', 'is', 'better', 'than', 'C']
word_list.sort()
print(word_list)

# ordenamiento custom
def comp_num_of_chars(string1):
    return len(string1)

word_list = ['Python', 'is', 'better', 'than', 'C']
word_list.sort(key=comp_num_of_chars)
print(word_list)

['C', 'Python', 'better', 'is', 'than']
['C', 'is', 'than', 'Python', 'better']

### 5.4.2 The sorted() function

In [32]:
x = (4, 3, 1, 2)
y = sorted(x)
print(y)

z = sorted(x, reverse=True)
z

[1, 2, 3, 4]

[4, 3, 2, 1]

> ### Pruebe esto:
Ordenar listas
Supongamos que tenemos una lista en la que cada elemento es a su vez una lista: `[[1, 2, 3], [2, 1, 3], [4, 0, 1]]`. Si quisiéramos ordenar esta lista por el segundo elemento de cada lista de modo que el resultado fuera `[[4, 0, 1], [2, 1, 3], [1, 2, 3]]`, ¿qué función escribiríamos para pasar como keyvalor al sort()método?

In [36]:
x = [[1, 2, 3], [2, 1, 3], [4, 0, 1]]

def sort_array(array):
  return array[1]

x.sort(key=sort_array)
x

[[4, 0, 1], [2, 1, 3], [1, 2, 3]]

## 5.5 Other common list operations

### 5.5.1 List membership with the in operator

In [38]:
3 in [1, 3, 4, 5]

True

In [40]:
3 in ["one", "two", "three"]

False

In [39]:
3 not in [1, 3, 4, 5]

False

In [41]:
3 not in ["one", "two", "three"]

True

### 5.5.2 List concatenation with the + operator

In [44]:
z = [1, 2, 3] + [4, 5]
z

[1, 2, 3, 4, 5]

### 5.5.4 List minimum or maximum with min and max

In [45]:
min([3, 7, 0, -2, 11])

-2

In [46]:
max([4, "Hello", [1, 2]])

TypeError: '>' not supported between instances of 'str' and 'int'

### 5.5.5 List search with index

In [47]:
x = [1, 3, "five", 7, -2]
x.index(7)

3

In [54]:
# devuelve el primer indice encontrado en la lista
x = [1, 3, "five", 7, -2, 7]
x.index(7)

3

In [48]:
x = [1, 3, "five", 7, -2]
x.index(5)

ValueError: 5 is not in list

### 5.5.6 List matches with count

In [52]:
x = [1, 2, 2, 3, 5, 2, 5]
print(x.count(2))
print(x.count(5))
print(x.count(4))

3
2
0

1