<a href="https://colab.research.google.com/github/jarevaloa/the-quick-python-book-fourth-edition/blob/main/the_quick_python_book_fourth_edition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###3.2.2 List

In [4]:
[]
[1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, "two", 3, 4.0, ["a", "b"], (5, 6)]

[1, 'two', 3, 4.0, ['a', 'b'], (5, 6)]

In [6]:
x = ["first", "second", "third", "fourth"]
x[0]

'first'

In [7]:
x[2]

'third'

In [8]:
x[-1]

'fourth'

In [9]:
x[-2]

'third'

In [10]:
x[1:-1]

['second', 'third']

In [11]:
x[0:3]

['first', 'second', 'third']

In [12]:
x[-2:-1]

['third']

In [13]:
x[:3]

['first', 'second', 'third']

In [14]:
x[-2:]

['third', 'fourth']

In [15]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
x[1] = "two"

In [27]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
x[1] = "two"

print(x) # [1, 'two', 3, 4, 5, 6, 7, 8, 9]
x[8:9] = []
print(x) #[1, 'two', 3, 4, 5, 6, 7, 8]
x[5:7] = [6.0, 6.5, 7.0]
print(x) #[1, 'two', 3, 4, 5, 6.0, 6.5, 7.0, 8]

x[5:]

[1, 'two', 3, 4, 5, 6, 7, 8, 9]
[1, 'two', 3, 4, 5, 6, 7, 8]
[1, 'two', 3, 4, 5, 6.0, 6.5, 7.0, 8]

[6.0, 6.5, 7.0, 8]

In [29]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(len(x)) #9

y = [-1, 0] + x #[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(y)
x.reverse()
x

9
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### 3.2.3 Tuplas

In [30]:
()
(1,)
(1, 2, 3, 4, 5, 6, 7, 8, 12)
(1, "two", 3, 4.0, ["a", "b"], (5, 6))

(1, 'two', 3, 4.0, ['a', 'b'], (5, 6))

In [32]:
x = [1, 2, 3, 4]
tuple(x)

(1, 2, 3, 4)

In [33]:
x = (1, 2, 3, 4)
list(x)

[1, 2, 3, 4]

### 3.2.4 Cadenas

In [1]:
"A string in double quotes can contain 'single quote' characters."
'A string in single quotes can contain "double quote" characters.'
'''\tA string which starts with a tab; ends with a newline character.\n'''
"""This is a triple double quoted string - triple quoted strings (single
   or double quoted) are only kind that can contain real newlines."""

'This is a triple double quoted string - triple quoted strings (single \n   or double quoted) are only kind that can contain real newlines.'

In [13]:
x = "live and     let \t   \tlive"
print(x.split())
print(x)
print(type(x))


replaced = x.replace("    let \t   \tlive", "enjoy life")
print(replaced)


import re
regexpr = re.compile(r"[\t ]+")
regexpr.sub(" ", x)

['live', 'and', 'let', 'live']
live and     let 	   	live
<class 'str'>
live and     let 	   	live

'live and let live'

In [14]:
e = 2.718
x = [1, "two", 3, 4.0, ["a", "b"], (5, 6)]
print("The constant e is:", e, "and the list x is:", x)

print(f"the value of e is: {e}")

The constant e is: 2.718 and the list x is: [1, 'two', 3, 4.0, ['a', 'b'], (5, 6)]
the value of e is: 2.718

# 3.2.5 Diccionarios

In [24]:
x = {1: "one", 2: "two"}
x["first"] = "one"
x[("Delorme", "Ryan", 1995)] = (1, 2, 3)
keys  = list(x.keys())
print(keys)
print(len(x))

x[1]


print(x.get(1, "not available"))

x.get(4, "not available")
x.get(3, "not available")

[1, 2, 'first', ('Delorme', 'Ryan', 1995)]
4
one

'not available'

# 3.2.6 Sets, frozensets

In [27]:
x = set([1, 2, 3, 1, 3, 5])
print(x)

print(1 in x)
4 in x

{1, 2, 3, 5}
True

False

# 3.2.7 File objects

In [3]:
f = open("myfile", "w")
f.write("First line with necessary newline character\n")
f.write("Second line to write to the file\n")

f.close()
f = open("myfile", "r")
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1, line2)


import os
directory = os.getcwd()
print(directory)



filename = os.path.join(directory, "myfile")
print(filename)

f = open(filename, "r")
print(f.readline())


f.close()

First line with necessary newline character
 Second line to write to the file

/content
/content/myfile
First line with necessary newline character

# 3.4.2 The if-elif-else statement

In [29]:
x = 5
if x < 5:
    y = -1
    z = 5
elif x > 5:
    y = 1
    z = 11
else:
    y = 0
    z = 10
print(x, y, z)

5 0 10

# 3.4.3 Structural pattern matching with match

In [33]:
# point is an (x, y) tuple
point = (0,10)
match point:
 case (0, 0):
  print("Origin")
 case (0, y):
  print(f"Y={y}")
 case (x, 0):
  print(f"X={x}")
 case (x, y):
  print(f"X={x}, Y={y}")
 case _:
  raise ValueError("Not a point")

Y=10

# 3.4.4 The while loop

El `while` bucle se ejecuta mientras la condición (que aquí es `x > y`) sea `True`

In [34]:
u, v, x, y = 0, 0, 100, 30
while x > y:
    u = u + y
    x = x - y
    if x < y + 2:
        v = v + x
        x = 0
    else:
        v = v + y + 2
        x = x - y - 2
print(u, v)

60 40

# 3.4.5 The for loop

In [35]:
item_list = [3, "string1", 23, 14.0, "string2", 49, 64, 70]
for x in item_list:
    if not isinstance(x, int):
        continue
    if not x % 7:
        print(f"found an integer divisible by seven: {x}")
        break

found an integer divisible by seven: 49

# 3.4.6 Function definition

In [37]:
def funct1(x, y, z):
    value = x + 2*y + z**2
    if value > 0:
        return x + 2*y + z**2
    else:
        return 0

u, v = 3, 4
funct1(u, v, 2)



funct1(u, z=v, y=2)



def funct2(x, y=1, z=1):
  return x + 2 * y + z ** 2

funct2(3, z=4)



def funct3(x, y=1, z=1, *tup):
  print((x, y, z) + tup)

funct3(2)



funct3(1, 2, 3, 4, 5, 6, 7, 8, 9)



def funct4(x, y=1, z=1, **kwargs):
  print(x, y, z, kwargs)
funct4(1, 2, m=5, n=9, z=3)

15
(2, 1, 1)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
1 2 3 {'m': 5, 'n': 9}

# 3.4.7 Exceptions

In [2]:
class EmptyFileError(Exception):
    pass
with open("empty_file","w") as file_empty:
  print(f"create file empty")
filenames = ["myfile","myfile1.txt", "non_existent", "empty_file", "myfile2.txt"]
for file in filenames:
    try:
        f = open(file, 'r')
        line = f.readline()
        if line == "":
            f.close()
            raise EmptyFileError(f"{file}: is empty")
    except IOError as error:
        print(f"{file}: could not be opened: {error.strerror}")
    except EmptyFileError as error:
        print(error)
    else:
        print(f"{file}: {line}")
    finally:
        print("Done processing", file)

create file empty
myfile: could not be opened: No such file or directory
Done processing myfile
myfile1.txt: could not be opened: No such file or directory
Done processing myfile1.txt
non_existent: could not be opened: No such file or directory
Done processing non_existent
empty_file: is empty
Done processing empty_file
myfile2.txt: could not be opened: No such file or directory
Done processing myfile2.txt

# 3.4.8 Context handling using the with keyword

In [52]:
filename = "myfile1.txt"
with open(filename, "r") as f:
    for line in f:
        print(line)

FileNotFoundError: [Errno 2] No such file or directory: 'myfile1.txt'

 Ese código es equivalente a este código:

In [53]:
filename = "myfile1.txt"
try:
    f = open(filename, "r")
    for line in f:
        print(line)
except Exception as e:
    raise e
finally:
    f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'myfile1.txt'

In [4]:
"""wo module. Contains function: words_occur()"""
# interface functions
def words_occur():
    """words_occur() - count the occurrences of words in a file."""
    # Prompt user for the name of the file to use.
    file_name = input("Enter the name of the file: ")
    # Open the file, read it and store its words in a list.
    f = open(file_name, 'r')
    word_list = f.read().split()
    f.close()
    # Count the number of occurrences of each word in the file.
    occurs_dict = {}
    for word in word_list:
        # increment the occurrences count for this word
        occurs_dict[word] = occurs_dict.get(word, 0) + 1
    # Print out the results.
    print(f"File {file_name} has {len(word_list)} words ({len(occurs_dict)} are unique)")
    print(occurs_dict)
if __name__ == '__main__':
    words_occur()

Enter the name of the file: myfile
File myfile has 13 words (11 are unique)
{'First': 1, 'line': 2, 'with': 1, 'necessary': 1, 'newline': 1, 'character': 1, 'Second': 1, 'to': 2, 'write': 1, 'the': 1, 'file': 1}

In [7]:
"""shape module. Contains classes Shape, Square and Circle"""
class Shape:
    """Shape class: has method move"""
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def move(self, deltaX, deltaY):
        self.x = self.x + deltaX
        self.y = self.y + deltaY
class Square(Shape):
    """Square Class:inherits from Shape"""
    def __init__(self, side=1, x=0, y=0):
        Shape.__init__(self, x, y)
        self.side = side
class Circle(Shape):
    """Circle Class: inherits from Shape and has method area"""
    PI = 3.14159
    def __init__(self, r=1, x=0, y=0):
        Shape.__init__(self, x, y)
        self.radius = r
    def area(self):
        """Circle area method: returns the area of the circle."""
        return self.radius * self.radius * self.PI
    def __str__(self):
        return f"Circle of radius {self.radius} at ({self.x}, {self.y})"

In [8]:
c1 = Circle()
c2 = Circle(5, 15, 20)
print(c1)

print(c2)

c2.area()

c2.move(5,6)
print(c2)

Circle of radius 1 at (0, 0)
Circle of radius 5 at (15, 20)
Circle of radius 5 at (20, 26)

In [10]:
# This is Python code.
n = 9
r = 1
while n > 0:
    r = r * n
    n = n - 1
print(r)

362880

# 4.3 Variables and assignments

In [13]:
a = [1, 2, 3]
b = a
c = b
c[1] = 5
print(a, b, c)

[1, 5, 3] [1, 5, 3] [1, 5, 3]

In [15]:
a = 1
b = a
c = b
b = 5
print(a, b, c)

1 5 1

In [16]:
x = "Hello"
print(x)

x = 5
print(x)

Hello
5

In [17]:
x = 5
print(x)

5

del x
print(x)

5

NameError: name 'x' is not defined